html,
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

body {
  font-family: inter, sans-serif;
}

.main,
footer {
  padding: 32px;
}

strong {
  font-weight: 700;
}

.underline {
  background-image: linear-gradient(120deg,#FCFF7D,#FCFF7D);
  background-repeat: no-repeat;
  background-size: 100% .4em;
  background-position: 0 88%;
}

.subtitle {
  margin-top: 12px;
}

.origin {
  margin: 32px auto 0;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.origin h1 {
  font-size: 16px;
  font-weight: 700;
}

.hero {
  text-align: center;
  margin-top: clamp(22px, 4vw, 44px);
  padding: 0 32px;
}

.hero-title {
  line-height: 1.2;
  font-size: clamp(26px, 4vw, 48px);
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  margin-bottom: clamp(22px, 4vw, 44px);
}

.main {
  flex: 1;
  text-align: center;
}

@media (min-width: 870px) {
  .origin {
    position: absolute;
    top: 32px;
    left: 32px;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .origin h1 {
    font-size: 20px;
    font-weight: 700;
    max-width: 200px;
  }
}
