---
import 'reset-css'
import "@fontsource/inter"
import "@fontsource/inter/700.css"
import "../styles/main.css"
import Generator from '../components/Generator.astro'
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Quelle startup du changement es-tu ?</title>
  </head>
  <body>
    <div class="origin">
      <h1>Quelle startup du <strong class="underline">changement es-tu</strong> ?</h1>
      <div class="subtitle">( À la « Robins des villes » )</div>
    </div>

    <header class="hero">
      <img class="hero-image" src="/images/startup-forever.png" alt="" width="186" height="207" />
      <div class="hero-title">Génère ta <strong class="underline">startup</strong> du changement</div>
    </header>

    <main class="main">
      <Generator />
    </main>

    <footer>
      <p>© 2023 - Made by <strong>l'institut des trous de balles des possibles</strong></p>
    </footer>

    <script defer data-domain="startup-generator-five.vercel.app" src="https://plausible.lacooperativedesinternets.fr/js/script.js"></script>
  </body>
</html>
