---
import data from '../scripts/data'
---

<style>
  body {
    --color-main: #A1A1A1;
  }

  .btn,
  .btn-round {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 42px;
    min-width: 42px;
    border: 1px solid #A1A1A1;
    background-color: #fff;
    cursor: pointer;
  }

  .btn:hover,
  .btn:focus,
  .btn-round:hover,
  .btn-round:focus {
    background-color: #eee;
  }

  .btn {
    font-size: 18px;
    border-radius: 32px;
    padding: 0 32px;
  }

  .btn-round {
    border-radius: 50%;
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .ranges {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 16px 52px;
    margin-bottom: 32px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .ranges-tuto {
    position: absolute;
    bottom: 100%;
    right: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    border: 1px solid #666;
    width: 253px;
    height: 110px;
    border-radius: 50%;
    display: none;
  }

  .ranges-tuto::before,
  .ranges-tuto::after {
    content: '';
    position: absolute;
    display: block;
  }

  .ranges-tuto::before {
    top: calc(100% + 6px);
    left: calc(100% - 24px);
    width: 80px;
    height: 1px;
    transform: rotate(24deg);
    background-color: #666;
  }

  .ranges-tuto::after {
    top: calc(100% + 19px);
    left: calc(100% + 49px);
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-9deg);
  }

  @media (min-width: 1330px) {
    .ranges-tuto {
      display: flex;
    }
  }

  @media (min-width: 870px) {
    .ranges {
      flex-flow: row;
      max-width: 780px;
    }
  }

  .range-label {
    margin-bottom: 12px;
    font-size: 13px;
  }

  .result {
    font-size: clamp(26px, 4vw, 40px);
    font-weight: 700;
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: clamp(26px, 4vw, 40px);
    hyphens: auto;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: var(--color-main);
    cursor: pointer;
    margin-top: -15px;
    border: 7px solid #fff;
    outline: 1px solid var(--color-main);
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    border: 7px solid #fff;
    outline: 1px solid var(--color-main);
    height: 15px;
    width: 15px;
    background: var(--color-main);
    cursor: pointer;
    border-radius: 100%;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    outline: 1px solid var(--color-main);
    border: 7px solid #fff;
    height: 15px;
    width: 15px;
    background: var(--color-main);
    cursor: pointer;
    border-radius: 100%;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #D9D9D9;
    border-radius: 1.3px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D9D9D9;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #D9D9D9;
    border-radius: 0;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 0 0;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #D9D9D9;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #D9D9D9;
  }

  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border-radius: 2.6px;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #D9D9D9;
  }
</style>

<div class="generator">
  <div class="ranges">
    <div class="ranges-tuto">
      Bouge les curseurs <strong class="underline">pour disrupter tes neurones</strong>
      <span></span>
    </div>

    {data.map((item) => (
      <div class="range">
        <div class="range-label">{item.label}</div>
        <input type="range" class="range-input" value="0" min="0" max={item.data.length - 1} step="1">
      </div>
    ))}
  </div>
  <div class="btns">
    <button class="btn" id="generate"><strong>Générer</strong></button>
    <button class="btn-round" id="random"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="none"><path fill="#000" fill-rule="evenodd" d="M.003 6.04c0-.497.344-1.107.77-1.363L8.23.192c.426-.256 1.116-.256 1.542 0l7.458 4.494c.426.257.771.867.771 1.366l-.003 8.957c0 .498-.346 1.11-.77 1.367L9.754 20.9c-.425.258-1.114.258-1.54 0L.77 16.377c-.426-.259-.77-.87-.77-1.368l.003-8.97Zm1.568-.728 7.407 4.136 7.063-4.082-7.075-4.154-7.395 4.1ZM1.093 6.65c0 .184-.12 8.086-.12 8.086a.865.865 0 0 0 .379.682l6.932 4.184.064-8.71S1.093 6.467 1.093 6.65Zm8.563 12.933 6.854-4.35c.262-.166.475-.553.475-.864V6.606l-7.329 4.22v8.757Z" clip-rule="evenodd"/><path fill="#000" fill-rule="evenodd" d="M3.363 11.012c-.538.311-1.251.083-1.593-.509-.342-.592-.183-1.324.355-1.634.539-.311 1.252-.083 1.594.509.342.592.182 1.324-.356 1.634Zm3.6 2.363c-.537.311-1.25.083-1.593-.509-.341-.592-.182-1.324.356-1.634.538-.311 1.252-.083 1.593.509.342.592.183 1.324-.355 1.634Zm-3.6 1.8c-.538.311-1.251.083-1.593-.509-.342-.592-.183-1.323.355-1.634.539-.31 1.252-.083 1.594.51.342.591.182 1.323-.356 1.634Zm3.6 2.363c-.537.311-1.25.083-1.593-.509-.341-.592-.182-1.323.356-1.634.538-.311 1.252-.083 1.593.51.342.591.183 1.323-.355 1.633Zm8.804-8.782c-.538-.31-1.252-.082-1.593.51-.342.591-.183 1.323.355 1.634.539.31 1.252.083 1.593-.51.342-.591.183-1.323-.355-1.634ZM13.94 12.02c-.538-.31-1.252-.082-1.593.51-.342.591-.183 1.323.355 1.634.538.31 1.252.083 1.594-.51.341-.591.182-1.323-.356-1.634Zm-1.913 3.15c-.538-.31-1.251-.082-1.593.51-.342.592-.183 1.324.355 1.635.539.31 1.252.082 1.594-.51.342-.592.182-1.323-.356-1.634ZM9.072 3.892c-.714 0-1.294.555-1.294 1.238 0 .684.58 1.238 1.294 1.238.715 0 1.294-.554 1.294-1.238 0-.683-.58-1.238-1.294-1.238Z" clip-rule="evenodd"/></svg></button>
  </div>

  <div id="result" class="result"></div>
</div>

<script src="../scripts/main.js"></script>